/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --first-hue: 250;
  --sat: 66%;
  --lig: 75%;
  --second-hue: 219;

  --first-color: #a395e9;
  --first-color-alt: #9584e6; /* -4% */
  --title-color: #f0f2f4;
  --text-color: #babec4;
  --text-color-light: #888b91;
  --body-color: #0b111e;
  --container-color: #151c28;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /* for light mode animation */
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 3.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 320px) {
  .container {
    max-width: 968px;
    margin-left: 0; /* Set margin-left to 0 for 320px screen */
    margin-right: 1rem;
  }
  .nav__menu {
    padding: 1rem 1.5rem;
  }

  /* .home__buttons {
    flex-direction: column;
  } */
  .home__handle {
    width: 167px;
    height: 250px;
  }
  .home__img {
    width: 130px;
  }

  .about__info {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills__box {
    column-gap: 1rem;
  }
  .skills__name {
    font-size: var(--small-font-size);
  }

  .services__container {
    grid-template-columns: 291px;
    justify-content: center;
  }

  .work__item {
    font-size: var(--small-font-size);
  }
  .work__filters {
    column-gap: 0.25rem;
  }
  main {
    padding: 1rem;
  }
  .grid {
    gap: 2.5rem;
  }
  header {
    padding: 0 1rem;
  }
  .contact__form {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 375px) and (max-width: 575px) {
  .container {
    max-width: 968px;
    margin-left: 0; /* Set margin-left to 0 for 320px screen */
    margin-right: 1rem;
  }
  .nav__menu {
    padding: 1rem 1.5rem;
  }

  .home__buttons {
    flex-direction: column;
  }
  .home__handle {
    width: 167px;
    height: 250px;
  }
  .home__img {
    width: 130px;
  }

  .about__info {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills__box {
    column-gap: 1rem;
  }
  .skills__name {
    font-size: var(--small-font-size);
  }

  .services__container {
    grid-template-columns: 345px;
    justify-content: center;
  }

  .work__item {
    font-size: var(--small-font-size);
  }
  .work__filters {
    column-gap: 0.25rem;
  }
  main {
    padding: 1rem;
  }
  .grid {
    gap: 2.5rem;
  }
  header {
    padding: 0 1rem;
  }
  .contact__form {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .container {
    max-width: 968px;
    margin-left: 0; /* Set margin-left to 0 for 320px screen */
    margin-right: 1rem;
  }
  .nav__menu {
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .about__info {
    grid-template-columns: repeat(3, 140px);
    justify-content: center;
  }
  .about__description {
    padding: 0 5rem;
  }

  .skills__container {
    justify-content: center;
  }
  .skills__content {
    padding: 2rem 2rem;
  }

  .services__container {
    grid-template-columns: repeat(2, 160px);
    justify-content: center;
  }
  .services__modal-content {
    width: 500px;
    padding: 4.5rem 2.5rem 2.5rem;
  }
  .services__modal-description {
    padding: 0 3.5rem;
  }

  .work__container {
    justify-content: center;
  }
  .work__img {
    width: 295px;
  }

  .contact__info {
    grid-template-columns: 300px;
    justify-content: center;
  }
  .contact__form {
    width: 360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 767px) {
  .header {
    padding: 0 1rem;
  }
  .main {
    padding: 2rem;
  }
  .work__container {
    grid-template-columns: repeat(2, max-content);
  }

  .contact__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 3rem;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 6.5rem 0 1rem;
  }
  .section__title {
    margin-bottom: 3.5rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .home__handle {
    width: 238px;
    height: 360px;
  }
  .home__img {
    width: 220px;
  }
  .home__social-link {
    padding: 0.4rem;
    font-size: 1.25rem;
  }
  .home__social::after {
    transform: rotate(90deg) translate(16px, 0);
  }
  .home__scroll-icon {
    font-size: 2rem;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
  }
  .about__img {
    width: 350px;
  }
  .about__data {
    text-align: initial;
  }
  .about__info {
    justify-content: initial;
  }
  .about__box {
    text-align: center;
    padding: 1rem 1.25rem;
  }
  .about__description {
    padding: 0 4rem 0 0;
    margin-bottom: 2.5rem;
  }

  .skills__container {
    grid-template-columns: repeat(2, 350px);
    column-gap: 3.5rem;
  }

  .services__container {
    grid-template-columns: repeat(3, 192px);
    column-gap: 3rem;
  }
  .services__card {
    padding: 3rem 2rem 1.5rem;
  }

  .work__container {
    gap: 3rem;
  }
  .work__card {
    padding: 1.25rem;
  }
  .work__img {
    margin-bottom: 1rem;
  }
  .work__title {
    margin-bottom: 0.5rem;
  }

  .testimonial__container {
    width: 750px;
  }
  .testimonial__card {
    padding: 1.5rem 2rem;
  }

  .contact__container {
    column-gap: 6rem;
  }

  .footer__social-link {
    font-size: 1.25rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
  }
}
